<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_pictonovalogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Edunova">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Edunova">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:exported="false">
            <!-- Opcional: Para añadir una flecha de "Atrás" en la barra superior -->
            <!-- <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" /> -->
        </activity>

        <activity
            android:name=".ProfesorActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".AddPictogramActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false">
            <!-- Opcional: Para añadir una flecha de "Atrás" en la barra superior -->
            <!-- <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" /> -->
        </activity>

        <activity
            android:name=".ListStudentsActivity"
            android:exported="false" />

        <activity
            android:name=".AjustesActivity"
            android:exported="false">
            <!-- Opcional: Para añadir una flecha de "Atrás" en la barra superior -->
            <!-- <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" /> -->
        </activity>
        <activity
            android:name=".MenuActivity"
            android:exported="false">
            <!-- Opcional: Para añadir una flecha de "Atrás" en la barra superior -->
            <!-- <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" /> -->
        </activity>
        <activity
            android:name=".SilabasActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".JuegoPalabras"
            android:exported="false">
            <!-- Opcional: Para añadir una flecha de "Atrás" en la barra superior -->
            <!-- <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" /> -->
        </activity>
        <activity
            android:name=".SonidoActivity"
            android:exported="false">
            <!-- Opcional: Para añadir una flecha de "Atrás" en la barra superior -->
            <!-- <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" /> -->
        </activity>
    </application>

</manifest>